/* Header */

header {
  @include rem(padding, 25px 0 25px 0);
  background-color: #f9d01b;
  border-bottom: 1px solid #ccc;
  .container {
    padding: 0;
  }
}

.navbar-brand {
  font-size: 32px;
}
