---
layout: default
---

<div class="container-full home-page-intro-container">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="home-intro">
          <h1>Экскаваторы-погрузчики MST</h1>
          <p>Мы предложим вам технику MST на лучших условиях!</p>
          <ul>
            <li>Все машины 2019 года выпуска</li>
            <li>ПСМ в наличии</li>
            <li>Любая форма оплаты</li>
            <li>Лизинг</li>
          </ul>
          <a href="#section-contacts" class="nav-smooth btn btn-lg btn-primary">Звоните!</a>
          <a href="#section-list" class="nav-smooth btn btn-lg btn-secondary">Техника в наличии</a>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
        <div class="home-carousel">
          <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="img/mst-542-gray.jpg" alt="Экскаватор-погрузчик MST 542">
                <div class="carousel-caption d-none d-md-block">
                  <h2>MST 542</h2>
                  <p>Доступный и надежный</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="img/mst-544-gray.jpg" alt="Экскаватор-погрузчик MST 542 / 542 Plus">
                <div class="carousel-caption d-none d-md-block">
                  <h2>MST 544</h2>
                  <p>Управление всеми колёсами, крабовый ход</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="img/mst-sanko.jpg" alt="Sanko Makina">
                <div class="carousel-caption d-none d-md-block">
                  <h2>Sanko Makina (бренд MST)</h2>
                  <p>Крупнейший производитель строительной и специальной техники в Турции.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Назад</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Вперед</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-full home-page-tech-background" id="section-tech">
  <div class="container">
    <h2 class="text-center mb-4 section-title">Общие технические характеристики MST 5 серии</h2>
<!--    <ul class="list-inline text-center">
        <li class="list-inline-item mr-2"><strong>Емкость ковша погрузчика:</strong> 1.2 м<sup>3</sup></li>
        <li class="list-inline-item mr-2"><strong>Усилие отрыва на ковше погрузчика:</strong> 7734 кгс</li>
        <li class="list-inline-item mr-2"><strong>Высота загрузки:</strong> 3300 мм</li>
        <li class="list-inline-item mr-2"><strong>Емкость ковша экскаватора:</strong> 0.17 м<sup>3</sup></li>
        <li class="list-inline-item mr-2"><strong>Усилие отрыва на ковше экскаватора:</strong> 6424 кгс</li>
        <li class="list-inline-item mr-2"><strong>Глубина копания:</strong> 5415 мм</li>
      </ul>
-->  
    <ul class="list-unstyled row">
      <li class="media col-lg-4 py-4">
        <img src="img/mst-spec-engine.jpg" class="mr-3 w-25 rounded-circle" alt="Двигатель и трансмиссия">
        <div class="media-body">
          Двигатель  PERKINS 1104С-44T  (101 л.с.), мосты Carraro (Италия), автоматическая коробка Powershift, гидронасос Casappa (Италия), РВД Eaton Aeroquip
        </div>
      </li>
      <li class="media col-lg-4 py-4">
        <img src="img/mst-spec-snd.jpg" class="mr-3 w-25 rounded-circle" alt="Рабочие характеристики">
        <div class="media-body">
          Телескопическая рукоять, ковш погрузчика «4 в 1», управление навесным оборудованием — рычаг или джойстик (в моделях Plus)
        </div>
      </li>
      <li class="media col-lg-4 my-4">
        <img src="img/mst-spec-oper.jpg" class="mr-3 w-25 rounded-circle" alt="Комфорт оператора">
        <div class="media-body">
          Комфортное рабочее место оператора, MP3 USB магнитола, кондиционер воздуха (опция)
        </div>
      </li>
    </ul>

    <div class="row">
        <div class="col-md-4 col-lg-2 text-center pb-lg-0 pb-3">
          <h3 class="text-info">1.2 м<sup>3</sup></h3>
          <h5 class="fact-title">Емкость ковша погрузчика</h5>
        </div>
        <div class="col-md-4 col-lg-2 text-center pb-lg-0 pb-3">
          <h3 class="text-info">7734 кгс</h3>
          <h5 class="fact-title">Усилие отрыва на ковше погрузчика</h5>
        </div>
        <div class="col-md-4 col-lg-2 text-center pb-lg-0 pb-3">
          <h3 class="text-info">3300 мм</h3>
          <h5 class="fact-title">Высота загрузки</h5>
        </div>
        <div class="col-md-4 col-lg-2 text-center pb-lg-0 pb-3">
          <h3 class="text-info">600 мм</h3>
          <h5 class="fact-title">Ширина ковша экскаватора</h5>
        </div>
        <div class="col-md-4 col-lg-2 text-center pb-lg-0 pb-3">
          <h3 class="text-danger">5523 кгс</h3>
          <h5 class="fact-title">Усилие отрыва на ковше экскаватора</h5>
        </div>
        <div class="col-md-4 col-lg-2 text-center pb-lg-0 pb-3">
          <h3 class="text-danger">5415 мм</h3>
          <h5 class="fact-title">Глубина копания</h5>
        </div>
    </div>    

  </div>
</div>


<div class="container-full home-page-cards-background" id="section-list">
  <div class="container">
    <h2 class="text-center mb-4 section-title">Экскаваторы-погрузчики MST в наличии</h2>
    <div class="row">

        {% for m in page.machines %}
        <div class="col-xl-3 col-lg-3">
            <div class="home-card mb-3">
                <i class="fa fa-search-plus icon-zoom icons position-absolute text-muted m-2"></i>
                {% for img in m.gallery.images %}
                  {% if forloop.index == 1 %}
                    <a href="{{ img.href }}" data-type="image" data-toggle="lightbox" data-gallery="{{ m.sku }}" data-title="{{ img.title }}"><img src="{{ m.gallery.tn}}" alt="{{ img.title }}"></a>
                  {% else %}
                    <div data-toggle="lightbox" data-type="image" data-gallery="{{ m.sku }}" data-remote="{{ img.href}}" data-title="{{ img.title }}"></div>
                  {% endif %}
                {% endfor %}
              <div class="home-card-content">
                  <h2>{{ m.title }}
                    <a href="img/{{ m.model }}.png" class="float-right badge badge-pill badge-info text-light ml-1 px-2" data-title="{{ m.title }}" data-toggle="lightbox" role="button"><i class="fa fa-cog icons"></i></a>
                    <a href="#specsModal" class="float-right badge badge-pill badge-info text-light" data-toggle="modal" data-selected="{{ m.sku }}" role="button"><i class="fa fa-info icons"></i></a>
                  </h2>
                <p>{{ m.description }} <strong>{{ m.options }}</strong></p>
                <a href="#section-contacts" class="btn btn-primary d-lg-none" role="button" aria-pressed="true">Звоните!</a>
              </div>
            </div>
          </div>
          {% endfor %}






      
    </div>
  </div>
</div>

<div id="specsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Экскаваторы-погрузчики MST на складе</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
  <div class="table-responsive">
  <table class="table table-sm small table-bordered">
    <thead class="thead-dark">
    <tr>
    <th scope="row" style="text-align: right;">Машины в наличии:</th>
    <th scope="col" class="mst5421 text-center"><strong>M542</strong></th>
    <th scope="col" class="mst5422 text-center"><strong>M542</strong></th>
    <th scope="col" class="mst542p1 text-center"><strong>M542 Plus</strong></th>
    <th scope="col" class="mst5441 text-center"><strong>M544</strong></th>
    <th scope="col" class="mst5442 text-center"><strong>M544</strong></th>
    <th scope="col" class="mst5443 text-center"><strong>M544</strong></th>
    <th scope="col" class="mst544p1 text-center"><strong>M544 Plus</strong></th>
    <th scope="col" class="mst544p2 text-center"><strong>M544 Plus</strong></th>
    </tr>
    </thead>
    <tbody>
        <tr>
    <td colspan="9">
    <h4 class="m-0">Стандарнтная комплектация</h4>
    </td>
    </tr>
    <tr>
    <td>Экологический класс двигателя</td>
    <td class="m542 text-center" colspan="2">Tier2</td>
    <td class="m542p text-center">Tier3</td>
    <td class="m544 text-center" colspan="3">Tier2</td>
    <td class="m544p text-center" colspan="2">Tier3</td>
    </tr>
    <tr>
    <td>Радио</td>
    <td style="text-align: center;" colspan="8">Радио/CD</td>
    </tr>
    <tr>
    <td>Тип погрузочного ковша</td>
    <td style="text-align: center;" colspan="8">4 в 1</td>
    </tr>
    <tr>
    <td>Ширина экскаваторного ковша</td>
    <td style="text-align: center;" colspan="8">600 мм</td>
    </tr>
    <tr>
    <td>
    <p>Гидролиния для гидромолота</p>
    </td>
    <td style="text-align: center;" colspan="8">Стандарт</td>
    </tr>
    <tr>
    <td>
    <p>Размерность колес</p>
    </td>
    <td style="text-align: center;" colspan="3">
    <p>Передние: 20"<br />Задние: 28"</p>
    </td>
    <td style="text-align: center;" colspan="5">Передние: 28"<br />Задние: 28"</td>
    </tr>
    <tr>
    <td>Управление навесным оборудованием</td>
    <td class="m542 text-center" colspan="2">Рычаг</td>
    <td class="m542p text-center">Джойстик</td>
    <td class="m544 text-center" colspan="3">Рычаг</td>
    <td class="m544p text-center" colspan="2">Джойстик</td>
    </tr>
    <tr>
    <td>Режимы рулевого управления</td>
    <td style="text-align: center;" colspan="3">2W</td>
    <td style="text-align: center;" colspan="5">2W, 4W краб, 4W след вслед</td>
    </tr>
    <tr>
    <td colspan="9">
    <h4 class="m-0">Опции</h4>
    </td>
    </tr>
    <tr>
    <td>Система SRS (стабилизация фронтального ковша в движении)</td>
    <td class="mst5421 text-center">-</td>
    <td class="mst5422 text-center">-</td>
    <td class="mst542p1 text-center">+</td>
    <td class="mst5441 text-center">-</td>
    <td class="mst5442 text-center">-</td>
    <td class="mst5443 text-center">-</td>
    <td class="mst544p1 text-center">-</td>
    <td class="mst544p2 text-center">+</td>
    </tr>
    <tr>
    <td>Forklift (погрузочные вилы, устанавливаемые поверх&nbsp;фронтального&nbsp; ковша)&nbsp;</td>
    <td class="mst5421 text-center">-</td>
    <td class="mst5422 text-center">+</td>
    <td class="mst542p1 text-center">-</td>
    <td class="mst5441 text-center">-</td>
    <td class="mst5442 text-center">-</td>
    <td class="mst5443 text-center">+</td>
    <td class="mst544p1 text-center">-</td>
    <td class="mst544p2 text-center">-</td>
    </tr>
    <tr>
    <td>Телескопическая рукоять экскаватора</td>
    <td style="text-align: center;" colspan="8">+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
    <td>Кондиционер</td>
    <td class="mst5421 text-center">-</td>
    <td class="mst5422 text-center">-</td>
    <td class="mst542p1 text-center">+</td>
    <td class="mst5441 text-center">-</td>
    <td class="mst5442 text-center">-</td>
    <td class="mst5443 text-center">-</td>
    <td class="mst544p1 text-center">-</td>
    <td class="mst544p2 text-center">+</td>
    </tr>
    </tbody>
    </table>
    </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
    </div>
  </div>
  </div>

</div>

<div class="container-full home-page-contacts" id="section-contacts">
    <div class="container">
        <div class="text-center my-3">
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="card">
              <div class="card-body">
                <div class="media">
                    <img src="img/fkr-logo.png" alt="FKR Machinery" class="w-25 mr-3 mb2">
                    <div class="media-body small text-muted">
                        Официальный дилер Sanko Makina — продажи, гарантия, запчасти, сервис, ремонт.
                    </div>
                </div>
                <div class="mt-4">
                  <a class="h2 text-danger d-inline-block mt-2 my-0" href="tel:+74959814545"><i class="fa fa-phone icons cyan-color contact-info-icon mr-1"></i>+7(495) 981-4545</a>
                  <a class="h4 text-muted d-inline-block mt-0 my-1" href="tel:+79265535222">+7(926) 553-5222</a>
                  <ul class="tel-info list-inline mb-4 my-1">
                    <li class="list-inline-item"><a class="text-dark" href="mailto:sales@fkrm.ru"><i class="fa fa-envelope-o icons cyan-color contact-info-icon mr-2"></i>sales@fkrm.ru</a></li>
                    <li class="list-inline-item"><a class="text-dark" href="http://fkrm.ru/"><i class="fa fa-tablet icons cyan-color contact-info-icon mr-2"></i>www.fkrm.ru</a></li>
                  </ul>
                </div>
                <address class="small">
                  <i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
                  <strong>ООО «ФКР Машинери»</strong> Россия, Московская область, городской округ Люберцы, деревня Машково, Новомарусинский проезд, 2
                </address>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            
                <h3 class="mt-3">Хватит переплачивать  за бренд! Пора начинать экономить, не теряя в качестве!</h3>
                <p class="small">Экскаваторы-погрузчики MST ни в чем не уступают продукции других производителей, а по многим параметрам имеют существенные преимущества.</p>
                <p class="small">При этом стоимость машин, а также стоимость их обслуживания и эксплуатации заметно ниже, чем у многих производителей аналогичной техники, что делает экскаваторы-погрузчики MST выгодным приобретением для Вашего бизнеса!</p>
          </div>
      </div>
    </div>
  </div>

<div class="container-full">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7adac79417c8bb6968699dea3561e0100205a301f171b2e01c6cb356ecaa4373&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=false"></script>
</div>
