---
layout: default
---

<div class="container-full home-page-intro-container">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="home-intro">
          <h1>Экскаваторы-погрузчики MST</h1>
          <p>Мы предложим вам технику MST на лучших условиях!</p>
          <ul>
            <li>Все машины 2019 года выпуска</li>
            <li>ПСМ в наличии</li>
            <li>Любая форма оплаты</li>
            <li>Лизинг</li>
          </ul>
          <a href="#section-contacts" class="btn btn-lg btn-primary">Звоните!</a>
          <a href="#section-list" class="btn btn-lg btn-secondary">Техника в наличии</a>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
        <div class="home-carousel">
          <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="img/mst-542-gray.jpg" alt="Экскаватор-погрузчик MST 542">
                <div class="carousel-caption d-none d-md-block">
                  <h2>MST 542</h2>
                  <p>Самый доступный?</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="img/mst-544-gray.jpg" alt="Экскаватор-погрузчик MST 542 / 542 Plus">
                <div class="carousel-caption d-none d-md-block">
                  <h2>MST 544</h2>
                  <p>Равновеликие колеса?</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="img/mst-sanko.jpg" alt="Sanko Makina">
                <div class="carousel-caption d-none d-md-block">
                  <h2>Sanko Makina (бренд MST)</h2>
                  <p>Крупнейший производитель строительной и специальной техники в Турции.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Назад</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Вперед</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-full home-page-tech-background" id="section-tech">
  <div class="container">
    <h2 class="text-center mb-4 section-title">Общие технические характеристики MST 5 серии</h2>
    <ul class="list-unstyled row">
      <li class="media col-lg-4 py-4">
        <img src="img/mst-spec-engine.jpg" class="mr-3 w-25 rounded-circle" alt="Двигатель и трансмиссия">
        <div class="media-body">
          Двигатель  PERKINS 1104С-44T  (101 л.с.), мосты Carraro (Италия), автоматическая 4-х ступенчатая коробка Powershift.
        </div>
      </li>
      <li class="media col-lg-4 py-4">
        <img src="img/mst-spec-snd.jpg" class="mr-3 w-25 rounded-circle" alt="Рабочие характеристики">
        <div class="media-body">
          Телескопическая рукоять, ковш погрузчика «4 в 1», управление навесным оборудованием — рычаг или джойстик (в моделях Plus)
        </div>
      </li>
      <li class="media col-lg-4 my-4">
        <img src="img/mst-spec-oper.jpg" class="mr-3 w-25 rounded-circle" alt="Комфорт оператора">
        <div class="media-body">
          Комфортное рабочее место оператора, MP3 USB магнитола, кондиционер воздуха (в моделях Plus)
        </div>
      </li>
    </ul>  </div>
</div>


<div class="container-full home-page-cards-background" id="section-list">
  <div class="container">
    <h2 class="text-center mb-4 section-title">Экскаваторы-погрузчики MST в наличии</h2>
    <div class="row">
      <div class="col-xl-3 col-lg-3">
        <div class="home-card">
          <img src="img/mst-542.jpg" alt="Sanko Makina MST 542">
          <div class="home-card-content">
            <h2>MST 542</h2>
            <p>Разновеликие колеса, управление — рычаг.</p>
            <a href="#section-contacts" class="btn btn-secondary d-lg-none" role="button" aria-pressed="true">Звоните!</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3">
        <div class="home-card">
          <img src="img/mst-542plus.jpg" alt="Экскаватор-погрузчик MST 542 Plus (Турция) ">
          <div class="home-card-content">
            <h2>MST 542 Plus</h2>
            <p>Разновеликие колеса, управление — джойстик. Кондиционер.</p>
            <a href="#section-contacts" class="btn btn-secondary d-lg-none" role="button" aria-pressed="true">Звоните!</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3">
        <div class="home-card">
          <img src="img/mst-544.jpg" alt="Колесный экскаватор-погрузчик MST 544">
          <div class="home-card-content">
            <h2>MST 544</h2>
            <p>Равновеликие колеса, управление — рычаг.</p>
            <a href="#section-contacts" class="btn btn-secondary d-lg-none" role="button" aria-pressed="true">Звоните!</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3">
        <div class="home-card">
          <img src="img/mst-544plus.jpg" alt="Колесный экскаватор-погрузчик MST 544 plus">
          <div class="home-card-content">
            <h2>MST 544 Plus</h2>
            <p>Разновеликие колеса, управление — джойстик. Кондиционер.</p>
            <a href="#section-contacts" class="btn btn-secondary d-lg-none" role="button" aria-pressed="true">Звоните!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-full home-page-contacts" id="section-contacts">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
            <img src="img/fkr-logo.png" alt="FKR Machinery" class="w-25 mb-4">
              <p>Наша компания поставляет различную специальную и строительную технику с 2001 года.</p>
              <p>Здесь ещё добрые хорошие слова о себе любимых в контексте MST/Sanko Makina</p>
              
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="contact-info">
              <address>
                <i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
                <strong>ООО «ФКР Машинери»</strong> Россия, Московская область, городской округ Люберцы, деревня Машково, Новомарусинский проезд, 2
              </address>
                <ul class="tel-info list-unstyled">
                  <li class="lead"><a href="tel:+74959814545"><i class="fa fa-phone icons cyan-color contact-info-icon mr-2"></i>+7(495) 981-4545</a></li>
                  <li><a href="mailto:sales@fkrm.ru"><i class="fa fa-envelope-o icons cyan-color contact-info-icon mr-2"></i>sales@fkrm.ru</a></li>
                  <li><a href="http://fkrm.ru/"><i class="fa fa-tablet icons cyan-color contact-info-icon mr-2"></i>www.fkrm.ru</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-full">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7adac79417c8bb6968699dea3561e0100205a301f171b2e01c6cb356ecaa4373&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
